<!DOCTYPE html>
<html>
    <head>
        <title>LaunchCode Build-A-Blog</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1 style="font-family: 'Courier New'">
        <img src="https://media.glassdoor.com/sqll/968183/launchcode-squarelogo-1464169779766.png"
        height="50px"; width="50px"></img>
            <a href="/blog">LaunchCode Build-A-Blog</a>
        <img src="https://media.glassdoor.com/sqll/968183/launchcode-squarelogo-1464169779766.png"
        height="50px"; width="50px"></img>
        </h1>
        <em><p> This is a LaunchCode Assignment 4 - build-a-blog! </p></em>
        {% block content %}
        {% endblock %}

    </body>
</html>
